<section class='picture-header' style='background-color: {{ page.hero.color }};'>
  <div class='cover' style='background-image: url({{ page.hero.image }}); opacity: {{ page.hero.opacity }};'></div>

  {% if page.hero.attribution %}
    <div class='attribution'>
      Photo:
      <a href="{{ page.hero.attribution_url }}">
        {{ page.hero.attribution_source }}
      </a>
    </div>
  {% endif %}

  <div class='monogram'></div>

  <section class='section next-meetup wide'>
    <div class='in'>
      <p class='subtext'>JavaScript Community Meetup</p>
      <h1>Manila.js Fridays <small>{{ page.event.series }}</small></h1>

      {% if page.event.location %}
        <h5 class='venue'>{{ page.event.location }}</h5>
      {% else %}
        <h5 class='venue'>Venue TBD</h5>
      {% endif %}

    </div>
  </section>

  <section class='section date-time wide'>
    <div class='in'>
      {% if page.registration.state == "open" %}
        <a class='date-time-item' href="{{ page.registration.signup }}">
          <strong class='date'>{{ page.event.date | date: "%b %e" }}</strong>
          <span class='time'>{{ page.event.time }}</span>
        </a>
      {% else %}
        <a class='date-time-item' href="#signup">
          <strong class='date'>{{ page.event.date | date: "%b %e" }}</strong>
          <span class='time'>{{ page.event.time }}</span>
        </a>
      {% endif %}
    </div>
  </section>

</section>
