<meta charset='utf-8'>
<!--

 _______ _______ __   _ _____        _______   _____ _______
 |  |  | |_____| | \  |   |   |      |_____|     |   |______
 |  |  | |     | |  \_| __|__ |_____ |     | . __|   ______|

   https://github.com/manilajs/manilajs.com
   https://www.facebook.com/groups/javascriptdevelopersph

   Follow us on Twitter!
   http://twitter.com/manila_js
                                                            
-->
{% if page.title %}
<title>{{ page.title }}</title>
<meta content='{{ page.title }}' property='og:title'>
<meta content='{{ page.title }}' property='og:site_name'>
<meta content='{{ page.title }}' name='twitter:title'>
{% else if page.event %}
<title>Manila.js JavaScript meetup {{ page.event.series }}</title>
<meta content='Manila.js JavaScript meetup {{ page.event.series }}' property='og:title'>
<meta content='Manila.js JavaScript meetup {{ page.event.series }}' property='og:site_name'>
<meta content='Manila.js JavaScript meetup {{ page.event.series }}' name='twitter:title'>
{% else %}
<title>Manila.js - JavaScript community in Manila, Philippines</title>
{% endif %}

{% assign base = '' %}
{% assign depth = page.url | split: '/' | size | minus: 1 %}
{% if depth == 1 %}{% assign base = '.' %}
{% elsif depth == 2 %}{% assign base = '..' %}
{% elsif depth == 3 %}{% assign base = '../..' %}
{% elsif depth == 4 %}{% assign base = '../../..' %}{% endif %}
{% assign timestamp = site.time | date: "%Y%m%d%H%M%S" %}

<link href='{{base}}/assets/style.css?v={{ timestamp }}' rel='stylesheet' type='text/css'>

{% if page.event %}
<!-- description -->
<meta content='{{ page.event.date | date: "%A, %B %e" }} at {{ page.event.location }}' name='description'>
<meta content='{{ page.event.date | date: "%A, %B %e" }} at {{ page.event.location }}' property='og:description'>
{% endif %}

{% for image in page.images %}
<meta content='{{ image }}' property='og:image'>
<meta content='{{ image }}' name='twitter:image'>
<meta property='og:image:width' content='940'>
<meta property='og:image:height' content='492'>
{% endfor %}

{% if page.description %}
<meta content='article' property='og:type'>
<meta content='{{ page.description }}' name='description'>
<meta content='{{ page.description }}' property='og:description'>
<meta content='http://www.manilajs.com/images/base/share.png' property='og:image'>
<meta content='http://www.manilajs.com/images/base/share.png' name='twitter:image'>
<meta property='og:image:width' content='940'>
<meta property='og:image:height' content='492'>
{% endif %}

<meta content='javascript, manila, meetup, manila.js' name='keywords'>

{% if page.url == '/index.html' %}
<meta content='website' property='og:type'>
<meta content='http://www.manilajs.com/' property='og:url'>
<meta content='http://www.manilajs.com/' name='twitter:url'>
<link href='http://www.manilajs.com/' rel='canonical'>
{% endif %}

{%comment%}<!-- google analytics -->{%endcomment%}
{% if site.analytics %}<script>if(~location.hostname.indexOf("{{site.analytics.hostname}}")){var _gaq=_gaq||[];_gaq.push(["_setAccount","{{ site.analytics.id }}"]);_gaq.push(["_trackPageview"]);(function(){var ga=document.createElement("script");ga.async=true;ga.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ga,s)})()}</script>{% endif %}

<meta content='IE=edge' http-equiv='X-UA-Compatible'>
<meta content='width=device-width, initial-scale=1.0' name='viewport'>
<!-- <link href='{{ base }}/assets/favicon.png' rel='shortcut icon'> -->

{%comment%}<!-- js -->{%endcomment%}
<script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
