<section class='section section-about-us'>
  <div class="in-wide column-section">
    <div class="left">
      <h3 class='primary'>Kumusta?</h3>

      <p>
      Manila.js is the JavaScript community in Metro Manila, Philippines. Born
      on February 2013, we organize monthly meetups for JavaScript amateurs and
      professionals alike. We also have a <a href='https://www.facebook.com/groups/javascriptdevelopersph/'>Facebook group</a>
      where anyone can discuss and share anything about JavaScript.
      </p>

      <h3>Sponsorship</h3>

      <p>Manila.js is always looking for venues and food sponsors. Get great
      exposure to the local dev community and good karma. <a
      href='mailto:hi@ricostacruz.com'>Send us an email</a> if you're interested
      in hosting our meetups.</p>
    </div>
    <div class="right">
      <h3>Join the group!</h3>
      <p>
        The group is open to all JavaScript enthusiasts.
      </p>
      <p class='actions'>
        <a href='https://www.facebook.com/groups/javascriptdevelopersph/' class='btn -white -sq -facebook'>Join us!</a>
      </p>

      <!-- <h3>Chat with us</h3> -->
      <!-- <p> -->
      <!--   Join us in the online chatroom powered by Gitter. -->
      <!-- </p> -->
      <!-- <p class='actions'> -->
      <!--   <a href='http://gitter.im/manilajs/manilajs.com' class='btn -white -sq -gitter'>Chat via Gitter</a> -->
      <!-- </p> -->

      <h3>Chat with us</h3>
      <p>
        Join us in the online chatroom powered by Slack. Join us in the #javascript room.
      </p>
      <p class='actions'>
        <a href='http://phackers.io' class='btn -white -sq -gitter'>Chat via Slack</a>
      </p>

      <h3>Contact</h3>
      <p>
      For any concerns and inquiries, contact Rico Sta. Cruz at <a
        href='mailto:hi@ricostacruz.com'>hi@ricostacruz.com</a> <span class='nobr'>or <b>+63 908 864
          8125</b>.</span>
      </p>
    </div>

  </div>
</section>
