<section class='section section-speakers'>
  <div class='in'>
    {% if page.opening %}
    <div class="brief-pullquote -top">
      <h4 class='preface'>Manila JavaScript Community Meetup</h4>
      {{ page.opening }}
    </div>
    {% endif %}

    <div class="speaker-list">
      {% for speaker in page.speakers %}
        <article class="speaker-item">
          <div class="avatar">
            <img src="{{ speaker.avatar }}" alt="{{ speaker.initials }}">
          </div>
          <h3>
            {% if speaker.url %}
              <a href="{{ speaker.url }}">{{ speaker.name }}</a>
            {% else %}
              {{ speaker.name }}
            {% endif %}

            {% if speaker.title %}
            <em class='title'>{{ speaker.title }}</em>
            {% endif %}

            {% if speaker.github %}
              <a href='https://github.com/{{ speaker.github }}'>
                <i class='github'></i>
              </a>
            {% endif %}

            {% if speaker.twitter %}
              <a href='https://twitter.com/{{ speaker.twitter }}'>
                <i class='twitter'></i>
              </a>
            {% endif %}
          </h3>

          <p>{{ speaker.description }}</p>
        </article>
      {% endfor %}
      
      <article class="speaker-item -anyone">
        <div class="avatar"></div>
        <h3>Open for speakers!</h3>
        <p>
          The floor is open to anyone who has something interesting to share.
          Interested in being a speaker?
        <a
          href='mailto:{{ site.contact.email }}'>Contact us</a>
          and let us know.
        </p>
      </article>

      {% if page.event.location %}
      {% else %}
        <article class="speaker-item -anyone">
          <h3>Venue TBD</h3>
          <p>
            We are still looking for a venue for this meetup. Interested to hold
            a Manila.js meetup in your office?
            <a href='mailto:{{ site.contact.email }}'>Drop us a note!</a>
        </article>
      {% endif %}

      <div class="{% if speakers[0] %}closing bottom{% endif %}">
        <p>
          Manila.js Fridays happens (usually) every first Friday of the month.
          Everybody's welcome!  Expect learning, fun, and happy conversations
          from people just like you.  This event is free. Bring your friends!
        </p>
      </div>
  </div>
</section>

