<section class='section-venue'>

  <!-- Venue -->
  {% if page.venue %}
    <section class='section content-section venue' id="venue">
      <div class="in">
        <h3>Our venue is</h3>
        <div class='location-box'>
          {% if page.venue.icon %}
            <div class='icon -logo'><img src='{{ page.venue.icon }}' alt='{{ page.venue.name }}'></div>
          {% else %}
            <div class='icon -placeholder'></div>
          {% endif %}
          <h4>
            <a href='{{ page.venue.url }}'>{{ page.venue.name }}</a>
          </h4>
          <p class='address'>{{ page.venue.address }}</p>
          <a href='{{ page.venue.map }}' class='map' target='_blank'>View map</a>
        </div>
        <p>
          {{ page.venue.description }}
        </p>
      </div>
    </section>

  <!-- Venue TBD -->
  {% else %}

    <section class='section content-section venue' id="venue">
      <div class="in">
        <h3>Venue TBD</h3>
        <div class='location-box'>
          <div class='icon -placeholder'></div>
        </div>
        <p>
          We are still looking for a venue for this meetup. Interested to
          hold a Manila.js meetup in your office? Drop us a note!
        </p>
      </div>
    </section>

  {% endif %}

  {% if page.drinkup %}
    <section class='section content-section afterparty' id="drinkup">
      <div class="in">
        <h3>After-drinkup</h3>
        <div class='location-box -afterparty'>
          {% if page.drinkup.icon %}
            <div class='icon -logo -smaller'><img src='{{ page.drinkup.icon }}' alt='{{ page.drinkup.name }}'></div>
          {% else %}
            <div class='icon -placeholder'></div>
          {% endif %}
          {% if page.drinkup.url %}
            <h4><a href="{{ page.drinkup.url }}">{{ page.drinkup.name }}</a></h4>
          {% else %}
            <h4>{{ page.drinkup.name }}</h4>
          {% endif %}
          <p class='address'>{{ page.drinkup.location }}</p>
          <a href='{{ page.drinkup.map }}' class='map' target='_blank'>View map</a>
        </div>
        <p>Join us for drinks at {{ page.drinkup.name }}
        after the event! {{ page.drinkup.name }} is located
        at {{ page.drinkup.location }}, just a few paces away from the venue
        and serves {{ page.drinkup.serves }}.</p>
      </div>
    </section>
  {% endif %}

  <section class='section content-section contact'>
    <div class="in">
      <h3>Contact info</h3>
      <p>
        Need directions or any help? Interested in speaking or sponsorship? Contact
        Rico at <a href='mailto:{{ site.contact.email }}'>{{ site.contact.email }}</a> or <b>0908 864 8125</b>.
      </p>
    </div>
  </section>

  <section class='section content-section contact'>
    <div class="in">
      <h3>Thanks!</h3>
      <p>
      Manila.js is made possible by the JS community volunteers who have been
      organizing and volunteering to make Manila.js events possible.
      </p>
      <!-- <p>Food for the last meetup has been generously provided by the fine -->
      <!-- folks of ...</p> -->
    </div>
  </section>

</section>
