<nav class='top-nav-bg'>
  <div class='logo-box'>
    <div class='logo'>
      Manila.js
    </div>
    &mdash;
    Philippine JavaScript community
  </div>
</nav>

<nav class='top-nav'>
  <div class='left'>
  </div>

  {% if page.registration.state == "open" %}
  <div class='right'>
    <span class='hint'>Join the meetup!</span>
    <a href='{{ page.registration.signup }}' class='btn'>Join in</a>
  </div>
  {% endif %}

  {% if page.registration.state == "closed" %}
  <div class='right'>
    <span class='hint'>Check back next month!</span>
    <a href='#signup' class='btn'>Slots full</a>
  </div>
  {% endif %}

  {% if page.registration.state == "announce" %}
  <div class='right'>
    <span class='hint'>Check back soon!</span>
    <a href='#signup' class='btn'>Soon to open</a>
  </div>
  {% endif %}

  {% if page.registration.state == "over" %}
  <div class='right'>
    <span class='hint'>Check back soon!</span>
    <a href='#signup' class='btn'>Event is over</a>
  </div>
  {% endif %}
</nav>
