@import url(http://fonts.googleapis.com/css?family=Open+Sans:100);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
@import url(http://fonts.googleapis.com/css?family=Electrolize:400);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400italic);
@import url(http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css);

/* ---------------------------------------------------------------------------- */
/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0;  padding: 0;  border: 0;  font-size: 100%;  font: inherit;  vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: '';  content: none; }
table { border-collapse: collapse;  border-spacing: 0; }

/* ---------------------------------------------------------------------------- */
/* Icons */

i.twitter:before,
i.github:before,
i.facebook:before,
.btn.gitter:before,
.btn.facebook:before,
i.google:before
{
  font-family: 'ionicons';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
}

.button:after,
.btn:after,
a.map:before,
i.right:before,
.venue .placeholder:before,
.afterparty .placeholder:before
{
  font-family: 'ionicons';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  position: relative;
}

.btn.facebook:before,
.button:after,
.btn:after,
i.right:before {
  font-size: 16px;
  top: 2px;
}

i.twitter:before { content: '\f242'; }
i.github:before { content: '\f232'; }
i.google:before { content: '\f234'; }
i.facebook:before { content: '\f230'; }
.btn.facebook:before { content: '\f231'; margin-right: 7px; }
.btn.gitter:before { content: '\f168'; margin-right: 7px; }
a.map:before { content: '\f1b9'; }
.venue .placeholder:before { content: '\f1a5'; }
.afterparty .placeholder:before { content: '\f293'; }
.btn:after,
.button:after,
i.right:before { content: '\f152'; }

/* ---------------------------------------------------------------------------- */
/* Base */

html {
  background: #fff;
}

body, td, th, input, textarea {
  font-family: source sans pro, sans-serif;
  font-weight: 400;
  font-size: 13.5pt;
  line-height: 1.7;
  color: #606060;
} 

/* Mobile */
@media (max-width: 570px) {
  body, td, th, input, textarea {
    font-size: 11pt;
  }
}


a, a:visited {
  color: #60ab50;
  text-decoration: none;
}

a:hover {
  color: #333;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
}

/* ---------------------------------------------------------------------------- */
/* Antialiased text */

* {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}

/*
 * Clearfix
 */

.clearfix,
.form-row:after,
.column-section:after {
  content: '';
  display: table;
  clear: both;
}

/* ---------------------------------------------------------------------------- */
/* Inline */

.nobr {
  white-space: nowrap;
}

/* ---------------------------------------------------------------------------- */
/* Inline: btn */

.btn:hover {
  text-decoration: none;
}

.btn:after {
  margin-left: 10px;
  opacity: 0.3;
}

/* ---------------------------------------------------------------------------- */
/* Sections */

.section {
  padding: 15px 30px;
}

.section > .in {
  max-width: 550px;
  margin: 0 auto;
}

.section.wide > .in {
  max-width: 800px;
}

.section > .in-wide {
  max-width: 820px;
  margin: 0 auto;
}

/*
 * columns
 */

.column-section {
}

@media (min-width: 768px) {
  .column-section > .left,
  .column-section > .right {
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
  }

  .column-section > .left {
    padding-right: 30px;
  }

  .column-section > .right {
    padding-left: 30px;
  }
}

/* ---------------------------------------------------------------------------- */
/* Top nav */

.top-nav-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  height: 56px;
  background: #fff;
  z-index: 5;
  opacity: 0.99;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.top-nav-bg {
  padding-top: 12px;
  padding-left: 20px;

  color: #aaa;
}

.top-nav-bg .logo {
  display: inline-block;
  color: #111;
}

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 20px;

  z-index: 15;

  font-size: 0.9em;
  overflow: hidden;
}

.top-nav .hint {
  margin: 0 20px;
  opacity: 0.5;
}

.top-nav a:visited,
.top-nav a {
  display: inline-block;

  color: #506070;
  background: #fff;
  padding: 0 20px;

  height: 32px;
  line-height: 32px;
  border-radius: 4px;
  border: 0;

  font-family: montserrat, sans-serif;
  text-transform: uppercase;
  font-size: 9pt;
  font-weight: bold;
  color: #222;

  /* border: solid 2px #506070; */
}

/* Desktop */
@media (min-width: 768px) {
  .top-nav .left {
    float: left;
  }
  .top-nav .right {
    float: right;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .top-nav-bg {
    display: none;
  }

  .top-nav {
    position: static;
    background: #222;
    color: #aaa;
    display: none; /* Eh, can't get it to look right so whatevs */
  }
}


/* ---------------------------------------------------------------------------- */

.picture-header {
  background-color: #143;
  margin-bottom: 5em;

  overflow: hidden;
  position: relative;

  z-index: 10;
}

.picture-header .cover {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  -webkit-transition: opacity 400ms linear;
  transition: opacity 400ms linear;

  -webkit-background-size: cover;

  background-size: cover;
  background-position: center center;
}

.picture-header .attribution {
  color: rgba(255, 255, 255, 0.3);
  font-size: 0.6em;

  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 2;
}

.picture-header .attribution a {
  color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: inset 0 -1px rgba(255, 255, 255, 0.30);
  box-shadow: inset 0 -1px rgba(255, 255, 255, 0.30);
  margin-left: 5px;
}

.picture-header .attribution a:hover {
  color: rgba(255, 255, 255, 1.0);
  -webkit-box-shadow: inset 0 -1px rgba(255, 255, 255, 0.70);
  box-shadow: inset 0 -1px rgba(255, 255, 255, 0.70);
}

@media (max-width: 768px) {
  .pictuer-header .attribution {
    display: none;
  }
}

.picture-header section {
  position: relative;
  z-index: 2;
}

.picture-header .monogram {
  background-image: url(manilajs-white-mono.png);
  -webkit-background-size: 66px 45px;
  background-size: 66px 45px;
  width: 66px;
  height: 45px;
  margin: 40px auto;
  position: relative;
  z-index: 20;
}

.top-nav-bg .logo,
.picture-header .logo {
  font-family: montserrat;
  font-weight: bold;
  font-size: 1.3;
}

/* Mobile */
@media (max-width: 480px) {
  .picture-header .monogram {
    margin: 20px auto;
  }
  .picture-header {
    height: 90px;
    margin-bottom: 2em;
  }
}

/* ---------------------------------------------------------------------------- */

.next-meetup {
  margin: 2em 0 1em 0;
}

.next-meetup h5 {
  /* color: #60ab50; */
  color: #8adc79;
  font-family: source sans pro, sans-serif;
  font-size: 0.9em;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;

  text-align: center;

  margin-bottom: 5px;
}

.next-meetup h1 {
  font-family: open sans, serif;
  font-weight: 300;
  font-size: 1.7em;
  line-height: 1.3;
  letter-spacing: -1px;

  text-align: center;
  color: #fff;
}

.next-meetup h1 small {
  font-size: 0.8em;
  font-weight: 400;
  font-family: electrolize;
}

.next-meetup .brief {
  margin: 1em auto 1em auto;
  font-weight: 300;
  font-family: source sans pro, sans-serif;

  font-size: 1.1em;
  line-height: 1.6;
  color: #fff;
  opacity: 0.8;

  max-width: 500px;
  text-align: center;
}


/* Tablet & Desktop */
@media (min-width: 480px) {
  .next-meetup h5:before {
    content: '';
    display: block;
    margin: 20px auto;
    width: 90px;
    height: 2px;
    background: #8adc79;
    border-radius: 4px;
  }

  .next-meetup h5 {
    font-size: 0.9em;
  }

  .next-meetup h1 {
    font-size: 3.0em;
  }
}

/* ---------------------------------------------------------------------------- */
/* Date time section */

.date-time {
  text-align: center;
  position: relative;

  padding: 0;

  margin-bottom: 3em;
}

.date-time .in {
  position: relative;
}

.date-time .in:before,
.date-time .in:after {
  content: '';
  display: block;
  height: 1px;

  position: absolute;
  top: 58px;

  /* border-bottom: solid 1px #ddd; */
}

.date-time .in:before {
  left: 0;
  right: 60%;
}

.date-time .in:after {
  right: 0;
  left: 60%;
}

/* ---------------------------------------------------------------------------- */
/* The date-time circle */

.date-time-item {
  position: relative;
  z-index: 1;

  display: inline-block;

  width: 120px;
  height: 120px;
  border-radius: 60px;
  padding: 14px 10px 10px 10px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px  rgba(250, 250, 250, 0.5);
  /* background-color: #eee; */
}

.date-time-item[disabled],
.date-time-item:disabled {
  cursor: not-allowed;
}

.date-time-item .date {
  display: block;
  text-align: center;
  font-size: 15pt;
  border-bottom: solid 1px rgba(250, 250, 250, 0.5);

  line-height: 45px;
  font-weight: bold;

  color: #fff;
}

.date-time-item .time {
  text-align: center;
  display: block;
  font-size: 15pt;

  line-height: 45px;

  color: #fff;
}

.date-time-item:not([disabled]):hover {
  text-decoration: none;
  background: rgba(250, 250, 250, 0.1);
}

/* ---------------------------------------------------------------------------- */
/* Speakers section */

.section.speakers {
  padding-top: 0;
}

/* ---------------------------------------------------------------------------- */

.speaker {
  margin: 2em 0;
}

.speaker:after {
  content: '';
  display: table;
  clear: both;
  zoom: 1;
}


.speaker h3 {
  font-weight: 700;
  color: #222;
}

.speaker h3 .title {
  color: #60ab50;
  font-size: 0.75em;
  text-transform: uppercase;
  font-family: montserrat, sans-serif;
  letter-spacing: 1px;
  margin: 0 15px 0 10px;
}

.speaker h3 a {
  color: #222;
}

.speaker h3 i {
  color: #222;
  padding: 0 5px;
  position: relative;
  top: 3px;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
}

.speaker h3 a:hover {
  color: #333;
  text-decoration: none;
}

.speaker h3 a:hover i {
  color: #60ab50;
}

.speaker .avatar {
  margin: 20px 0;
  position: relative;
  text-align: center;
}

.speaker .avatar img {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: #3d8;
  line-height: 100px;
  text-align: center;
  font-size: 1.2em;
  color: white;
  border-radius: 50%;
}

.speaker.anyone h3,
.speaker.anyone .avatar {
   display: none;
}

/* Desktop */
@media (min-width: 768px) {
  .speaker .avatar {
    float: right;
    margin: 0 0 40px 40px;
    top: 10px;
  }

  .speaker.anyone h3 {
    display: block;
  }

  .speaker.anyone .avatar {
    display: block;
    opacity: 0.2;
  }
}

/* ---------------------------------------------------------------------------- */

.cta {
  margin: 0;
}

.cta .in {
  text-align: center;
  padding: 2em 0 3em 0;
}

/* okay, i messed up and there's .button and .btn. sorreh */
.button {
  margin: 0;
  outline: 0;
  display: inline-block;

  height: 42px;
  line-height: 42px;
  border-radius: 26px;

  /* border: solid 2px #506070; */
  padding: 0 40px;

  text-transform: uppercase;
  font-weight: 400;
  font-size: 12pt;
  font-family: montserrat;

  color: #506070;

  cursor: pointer;
}

.button,
.button:visited {
  background: #506070;
  border-color: #506070;
  color: white;
  text-decoration: none;
}

.button:hover {
  background: #333;
  border-color: #333;
  color: white;
  text-decoration: none;
}

.button:active {
  background: #111;
  border-color: #111;
}

.button:after {
  margin-left: 13px;
  position: relative;
  top: 1px;
  opacity: 0.5;
}

.button.disabled:hover,
.button.disabled:visited,
.button.disabled {
  background-color: #eee;
  border-color: #ddd;
  cursor: not-allowed;
  color: #888;
}

.button.disabled:after {
  display: none;
}

.cta .venue {
  margin-top: 1em;
  font-weight: bold;
  font-size: 1.2em;
  color: #222;
}

.cta .hint {
  font-size: 0.9em;
}

/* ---------------------------------------------------------------------------- */

.venue-info {
  /* background: #f9fafb; */
  border-top: solid 1px #e5e5e7;
}

/* Desktop */
@media (min-width: 768px) {
  .venue-info {
    padding-bottom: 20px;
  }
}

/* ---------------------------------------------------------------------------- */

.content-section {
  /* border-top: solid 1px #e3e5e7; */
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Desktop */
@media (min-width: 768px) {
  .content-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.content-section:first-child {
  border-top: 0;
}

.content-section h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  letter-spacing: 1px;
  font-family: montserrat;
  color: #60ab50;
}
.content-section h3:after {
  display: block;
  content: '';
  width: 40px;
  height: 1px;
  background: #ddd;
  margin: 10px 0;
  border-radius: 2px;
}

.content-section h4,
.content-section h4 a,
.content-section h4 a:visited {
  font-weight: 300;
  font-family: open sans, sans-serif;
  color: #222;
}

.content-section h4 {
  font-size: 1.6em;
}

.content-section a:visited,
.content-section a {
  color: #a0b0c0;
}

.content-section a:hover {
  color: #506070;
}

.content-section p + p {
  margin-top: 20px;
}

.content-section .icon {
  width: 16px;
  height: 16px;
  padding: 1px;
  border: solid 1px transparent;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;

  position: relative;
  top: -1px;

  margin: 0 3px;
}

@media (min-width: 768px) {
  .content-section p {
    font-size: 0.95em;
  }
}

.content-section .icon.bordered {
  border-color: #ddd;
  background: transparent;
}

/* -- */

.location {
  margin: 0 0 1em 0;
}

.location:last-child {
  margin-bottom: 0;
}

.location .address {
  font-size: 0.9em;
  margin-bottom: 18px;
  line-height: 1.6;
}

a.map,
a.map:visited {
  background: transparent;
  border: solid 1px #d0d0d0;
  font-size: 0.7em;
  color: #506070;
  padding: 6px 12px;
  border-radius: 3px;

  font-family: montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
a.map:hover {
  border: solid 1px #3ad;
}
a.map:before {
  color: #3ad;
}

.closing {
  font-family: playfair display, serif;
  font-style: italic;
  font-size: 1.1em;
  text-align: center;
}

.closing .preface {
  font-weight: bold;
  color: #aaa;
  font-family: montserrat, sans-serif;
  letter-spacing: 2px;
  font-size: 0.6em;
  text-transform: uppercase;
  font-style: normal;
  margin-bottom: 0.5em;
}

@media (min-width: 768px) {
  .closing {
    width: 140%;
    margin-left: -20%;
    font-size: 1.3em;
  }
  .closing.top {
    margin-bottom: 2em;
  }
  .closing.bottom {
    margin-top: 2em;
  }

  .closing.top:before,
  .closing.top:after,
  .closing.bottom:before {
    content: '';
    display: block;
    margin: 40px auto;
    width: 80px;
    height: 1px;
    background: #222;
    opacity: 0.2;
  }
}

/* -- */

.venue .location a.map {
  margin-top: 30px;
}

.venue .location + p {
  margin-top: 1em;
}

/* ---------------------------------------------------------------------------- */

.about-us-section {
  background:
    -webkit-gradient(linear, left top, left bottom, from(rgba(16, 128, 80, 0.98)), to(rgba(16, 128, 100, 0.8))), url(/images/header/ms.jpg) center center / cover fixed, #185;
  background:
    -webkit-linear-gradient(top, rgba(16, 128, 80, 0.98), rgba(16, 128, 100, 0.8)), url(/images/header/ms.jpg) center center / cover fixed, #185;
  background:
    linear-gradient(to bottom, rgba(16, 128, 80, 0.98), rgba(16, 128, 100, 0.8)),
    url(/images/header/ms.jpg) center center / cover fixed,
    #185;

  padding-top: 30px;
  padding-bottom: 30px;

  color: #efe;

  font-size: 0.9em;
  line-height: 1.7;
}

.about-us-section p {
  margin: 2em 0;
}

.about-us-section h3 {
  font-family: open sans, sans-serif;
  font-weight: 300;
  color: white;
  margin: 0;
  font-size: 1.6em;
}

.about-us-section h3.primary {
  font-weight: bold;
  font-family: source sans pro, sans-serif;
}

.about-us-section h3 + p {
  margin-top: 0;
}

.about-us-section a:visited,
.about-us-section a {
  color: white;
}

.about-us-section a:hover {
  text-decoration: underline;
}

.about-us-section p.actions {
  margin-top: -20px;
}

.about-us-section .btn:visited,
.about-us-section .btn {
  border-color: rgba(250, 250, 250, 0.5);
  border-radius: 6px;
}

.about-us-section .btn:hover {
  text-decoration: none;
}

/* Desktop */
@media (min-width: 768px) {
  .about-us-section {
    margin-top: 100px;
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

/* ---------------------------------------------------------------------------- */
/* Inline: button */

.btn,
.btn:visited {
  margin: 0;
  outline: 0;
  display: inline-block;

  height: 24px;
  line-height: 24px;
  border-radius: 4px;

  border: solid 1px #506070;
  padding: 0 20px;

  text-transform: uppercase;
  font-weight: 400;
  font-family: montserrat;
  font-size: 9pt;

  color: #506070;
  cursor: pointer;

  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.btn:hover,
.btn:visited:hover {
  background: #506070;
  border-color: #506070;
  color: white;
  text-decoration: none;
  text-shadow: none;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
}

.btn:active,
.btn:visited:active {
  background: #405060;
  border-color: #405060;
  -webkit-transition: none;
  transition: none;
}

.btn.sq {
  border-radius: 2px;
  padding: 0 10px;
}

.btn.disabled,
.btn.disabled:visited,
.btn.disabled:hover {
  background: #eee;
  border-color: #ddd;
  cursor: not-allowed;
  color: #888;
}

.btn.disabled:after {
  display: none;
}

.btn.lite {
  background: transparent;
  color: white;
  border: solid 1px rgba(250, 250, 250, 0.2);
}

.btn.lite:hover {
  border: solid 1px rgba(250, 250, 250, 0.8);
}

/* ---------------------------------------------------------------------------- */
/* Inline: map */

a.map:before {
  margin-right: 10px;
  /* font-size: 28px; */
  vertical-align: middle;
}

/* Icon */
.location .icon {
  display: block;
  float: left;

  width: 60px;

  margin: 0 0 0 -70px;
  vertical-align: top;

  color: #a0b0c0;
}

.location .placeholder:before {
  font-size: 60px;
  opacity: 0.9;
}

.location .logo,
.location .logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.location .logo {
  background: white;
  margin: 0 0 0 -140px;
  border-radius: 50%;
  overflow: hidden;
  padding: 2px;
}

/* Smaller logo */
.location .logo.smaller {
  margin: 0 0 0 -110px;
}

.location .logo.smaller,
.location .logo.smaller img {
  width: 70px;
  height: 70px;
}

.afterparty .placeholder:before {
  font-size: 64px;
  position: relative;
  top: -21px;
}

@media (max-width: 768px) {
  .location .icon {
    float: right;
    margin: 0 0 0 20px;
  }
  .location h4,
  .afterparty h4,
  .location .address,
  .afterparty .address {
    text-align: center;
  }
  a.map {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 0.9em;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .location .placeholder,
  .afterparty .placeholder {
    display: block;
    float: none;
    margin: 0 auto;
    text-align: center;
    height: 60px;
    top: 0;
  }
  .location .placeholder:before,
  .afterparty .placeholder:before {
    font-size: 40px;
    position: relative;
    top: -10px;
  }
}

/*
 * About us link buttons
 */

.btn.gitter,
.btn.facebook {
  padding: 5px 18px;
  vertical-align: middle;
}
.btn.gitter:after,
.btn.facebook:after {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  position: relative;
  top: 0;
}
.btn.gitter:before,
.btn.facebook:before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  position: relative;
  font-size: 18px;
  top: 0;
}
.btn.facebook:before {
  top: -1px;
}
.btn.gitter:before {
}
@media (max-width: 480px) {
  .btn.gitter,
  .btn.facebook {
    padding: 3px 10px;
  }
  .btn.gitter:after,
  .btn.facebook:after {
    top: -1px;
  }
}

/*
 * form
 */

.form-row {
  margin: 10px 0;
}
.form-row.checkbox {
  font-size: 0.85em;
}
.form-row.texts:first-of-type {
  margin-top: 30px;
}
.form-row.texts + .form-row:not(.texts) {
  margin-top: 30px;
}

.checkbox-field input {
  margin-right: 10px;
}

/*
 * Text field
 */

.text-field {
  width: 50%;
  float: left;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.text-field > strong {
  display: block;
  font-weight: bold;
  color: white;
  font-size: 0.85em;
  margin-top: -3px;
}
.text-field > strong > i {
  font-weight: normal;
  font-style: italic;
  font-family: playfair display, serif;
  font-size: 0.9em;
  opacity: 0.8;
}
.text-field .req {
  position: relative;
  top: 4px;
  left: 4px;
  color: #1a8;
  opacity: 0.5;
}
.text-field [type='email'],
.text-field [type='text'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.text-field [type='email']::-webkit-input-placeholder,
.text-field [type='text']::-webkit-input-placeholder {
  color: rgba(250, 250, 250, 0.2);
  font-weight: normal;
}
.text-field [type='email']::-moz-placeholder,
.text-field [type='text']::-moz-placeholder {
  color: rgba(250, 250, 250, 0.2);
  font-weight: normal;
}
.text-field [type='email']:-ms-input-placeholder,
.text-field [type='text']:-ms-input-placeholder {
  color: rgba(250, 250, 250, 0.2);
  font-weight: normal;
}
.text-field [type='email']::placeholder,
.text-field [type='text']::placeholder {
  color: rgba(250, 250, 250, 0.2);
  font-weight: normal;
}
.text-field [type='email'],
.text-field [type='text'] {
  background: transparent;
  border: 0;
  padding: 5px 0;
  border-bottom: solid 1px rgba(250, 250, 250, 0.2);
  margin: 5px 5px 5px 0;
  color: #1d8;
  font-weight: bold;
}
.text-field [type='email']:hover,
.text-field [type='text']:hover {
  border-bottom-color: rgba(250, 250, 250, 0.5);
  outline: 0;
}
.text-field [type='email']:focus,
.text-field [type='text']:focus {
  color: #1d8;
  border-bottom-color: #1d8;
  outline: 0;
}
@media (min-width: 768px) {
  .text-field [type='email'],
  .text-field [type='text'] {
    width: 92%;
  }
}

/*
 * signup
 */

.signup-footer {
  background: #101a12;
  color: rgba(250, 250, 250, 0.7);
}
.signup-footer h2 {
  font-weight: bold;
  margin: 0;
  font-size: 1.5em;
  color: white;
}
@media (min-width: 768px) {
  .signup-footer .in {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}
.signup-footer p {
  margin: 0;
  line-height: 1.4;
}
.signup-footer h2 + p {
  margin-top: -0.25em;
}
.signup-footer .submit {
  height: 40px;
  line-height: 36px;
}
.signup-footer .actions {
  margin-top: 30px;
}

.section.full-image {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #345;
}

.section.full-image div {
  height: 300px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  opacity: 0.5;
}
