---
---

@import url(http://fonts.googleapis.com/css?family=Open+Sans:100);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
@import url(http://fonts.googleapis.com/css?family=Electrolize:400);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400italic);
@import url(http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css);

@import 'utils/clearfix';

@import 'base/reset';
@import 'base/icons';
@import 'base/body';
@import 'base/utilities';

@import 'components/top-nav';
@import 'components/column-section';
@import 'components/content-article';
@import 'components/form-row';
@import 'components/picture-header';
@import 'components/next-meetup';
@import 'components/section';
@import 'components/section-date-time';
@import 'components/section-speakers';
@import 'components/section-venue';
@import 'components/section-panorama';
@import 'components/section-register';
@import 'components/speaker-item';
@import 'components/signup-footer';
@import 'components/text-field';
@import 'components/location-box';
@import 'components/brief-pullquote';
@import 'components/section-about-us';

/* okay, i messed up and there's .button and .btn. sorreh */
.button {
  margin: 0;
  outline: 0;
  display: inline-block;

  height: 42px;
  line-height: 42px;
  border-radius: 26px;

  /* border: solid 2px #506070; */
  padding: 0 40px;

  text-transform: uppercase;
  font-weight: 400;
  font-size: 12pt;
  font-family: montserrat;

  color: #506070;

  cursor: pointer;
}

.button,
.button:visited {
  background: #506070;
  border-color: #506070;
  color: white;
  text-decoration: none;
}

.button:hover {
  background: #333;
  border-color: #333;
  color: white;
  text-decoration: none;
}

.button:active {
  background: #111;
  border-color: #111;
}

.button:after {
  margin-left: 13px;
  position: relative;
  top: 1px;
  opacity: 0.5;
}

.button.disabled:hover,
.button.disabled:visited,
.button.disabled {
  background-color: #eee;
  border-color: #ddd;
  cursor: not-allowed;
  color: #888;
}

.button.disabled:after {
  display: none;
}

@import 'components/btn';
