@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Electrolize:400);

/* ---------------------------------------------------------------------------- */
/* Fonts */

@font-face {
  font-family: 'FontAwesome';
  font-style: 'normal';
  font-weight: 'normal';
  src: url('fonts/fontawesome-webfont.eot');
  src: url('fonts/fontawesome-webfont.eot?#iefix') format('eot'), 
  url('fonts/fontawesome-webfont.woff') format('woff'), 
  url('fonts/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
}

@font-face {
  font-family: 'brandico';
  font-style: 'normal';
  font-weight: 'normal';
  src: url('fonts/brandico.eot');
  src: url('fonts/brandico.eot?#iefix') format('eot'), 
  url('fonts/brandico.woff') format('woff'), 
  url('fonts/brandico.ttf') format('truetype'), 
  url('fonts/brandico.svg#brandico') format('svg');
}

/* ---------------------------------------------------------------------------- */
/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0;  padding: 0;  border: 0;  font-size: 100%;  font: inherit;  vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: '';  content: none; }
table { border-collapse: collapse;  border-spacing: 0; }

/* ---------------------------------------------------------------------------- */
/* Icons */

i.twitter:before,
i.github:before,
i.facebook:before,
.btn.facebook:before,
i.google:before
{
  font-family: 'brandico';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}

.button:after,
.btn:after,
a.map:before,
i.right:before,
.venue .placeholder:before,
.afterparty .placeholder:before
{
  font-family: 'FontAwesome';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}

i.twitter:before { content: '\f303'; }
i.github:before { content: '\f307'; }
i.google:before { content: '\f309'; }
i.facebook:before { content: '\f300'; }
.btn.facebook:before { content: '\f301'; margin-right: 7px; }
a.map:before { content: '\f064'; }
.venue .placeholder:before { content: '\f041'; }
.afterparty .placeholder:before { content: '\f0fc'; }
.btn:after,
.button:after,
i.right:before { content: '\f105'; }

/* ---------------------------------------------------------------------------- */
/* Base */

html {
  background: #fff;
}

body, td, th, input, textarea {
  font-family: droid sans, sans-serif;
  font-weight: 400;
  font-size: 13pt;
  line-height: 1.8;
  color: #404750;
} 

/* Mobile */
@media (max-width: 570px) {
  body, td, th, input, textarea {
    font-size: 11pt;
  }
}


a, a:visited {
  color: #60ab50;
  text-decoration: none;
}

a:hover {
  color: #333;
}

/* ---------------------------------------------------------------------------- */
/* Antialiased text */

* {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}

/* ---------------------------------------------------------------------------- */
/* Inline */

.nobr {
  white-space: nowrap;
}

/* ---------------------------------------------------------------------------- */
/* Inline: btn */

.btn:hover {
  text-decoration: none;
}

.btn:after {
  margin-left: 7px;
}

/* ---------------------------------------------------------------------------- */
/* Sections */

.section {
  padding: 15px 30px;
}

.section > .in {
  max-width: 550px;
  margin: 0 auto;
}

.section.wide > .in {
  max-width: 800px;
}

/* ---------------------------------------------------------------------------- */
/* Top nav */

.top-nav-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;

  height: 56px;
  background: #fff;
  z-index: 5;
  opacity: 0.99;
  border-bottom: solid 1px #ccc;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.top-nav-bg {
  padding-top: 12px;
  padding-left: 20px;

  color: #aaa;
}

.top-nav-bg .logo {
  display: inline-block;
  color: #111;
}

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 12px 20px;

  z-index: 15;

  font-size: 0.9em;
  overflow: hidden;
}

.top-nav .hint {
  margin: 0 20px;
  opacity: 0.5;
}

.top-nav a:visited,
.top-nav a {
  display: inline-block;

  color: #506070;
  background: #fff;
  padding: 0 20px;

  height: 26px;
  line-height: 26px;
  border-radius: 16px;

  font-family: montserrat, sans-serif;
  text-transform: uppercase;
  font-size: 9pt;
  font-weight: bold;

  border: solid 2px #506070;
}

/* Desktop */
@media (min-width: 768px) {
  .top-nav .left {
    float: left;
  }
  .top-nav .right {
    float: right;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .top-nav-bg {
    display: none;
  }

  .top-nav {
    position: static;
    background: #222;
    color: #aaa;
    display: none; /* Eh, can't get it to look right so whatevs */
  }
}


/* ---------------------------------------------------------------------------- */

.picture-header {
  background: #193;
  /* height: 120px; */
  margin-bottom: 3em;

  overflow: hidden;
  position: relative;

  box-shadow: inset 0 -4px 6px -6px rgba(0, 0, 0, 0.2);

  z-index: 10;
}

.picture-header img.wallpaper {
  width: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 400ms linear;
}

.picture-header section {
  position: relative;
  z-index: 2;
}

.picture-header section.next-meetup {
  padding-top: 70px;
}

.picture-header.loaded img.wallpaper {
  opacity: 0.4;
}

.picture-header.loaded img.wallpaper.blur {
  -webkit-filter: blur(30px);
  transform: scale(1.1);
}

.picture-header:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;

  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;

  background: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.05) 50%, rgba(0,0,0,0.25));
  opacity: 0.3;
}

.picture-header .monogram {
  background-image: url(manilajs-white-mono.png);
  background-size: 66px 45px;
  width: 66px;
  height: 45px;

  position: absolute;
  z-index: 5;
  left: 50%;
  top: 34px;
  margin-left: -33px;
}

.top-nav-bg .logo,
.picture-header .logo {
  font-family: montserrat;
  font-weight: bold;
  font-size: 1.3;
}

/* Mobile */
@media (max-width: 480px) {
  .picture-header {
    height: 90px;
  }
}

/* ---------------------------------------------------------------------------- */

.next-meetup {
  margin: 3em 0 0 0;
}

.next-meetup h5 {
  /* color: #60ab50; */
  color: #8adc79;
  font-family: droid sans, sans-serif;
  font-size: 0.9em;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;

  text-align: center;

  margin-bottom: 5px;
}

.next-meetup h1 {
  font-family: electrolize, serif;
  font-size: 2.0em;
  line-height: 1.3;
  letter-spacing: -1px;

  text-align: center;
  color: #fff;
}

.next-meetup h1 small {
  font-size: 0.7em;
}

.next-meetup .brief {
  margin: 1em auto 1em auto;
  font-weight: 300;
  font-family: droid sans, sans-serif;

  font-size: 1.1em;
  line-height: 1.6;
  color: #fff;
  opacity: 0.8;

  max-width: 500px;
  text-align: center;
}


/* Tablet & Desktop */
@media (min-width: 480px) {
  .next-meetup h5 {
    font-size: 1.0em;
  }

  .next-meetup h1 {
    font-size: 3.5em;
  }
}

/* ---------------------------------------------------------------------------- */
/* Date time section */

.date-time {
  text-align: center;
  position: relative;

  padding: 0;

  margin-bottom: 3em;
}

.date-time .in {
  position: relative;
}

.date-time .in:before,
.date-time .in:after {
  content: '';
  display: block;
  height: 1px;

  position: absolute;
  top: 58px;

  /* border-bottom: solid 1px #ddd; */
}

.date-time .in:before {
  left: 0;
  right: 60%;
}

.date-time .in:after {
  right: 0;
  left: 60%;
}

/* ---------------------------------------------------------------------------- */
/* The date-time circle */

.date-time-item {
  position: relative;
  z-index: 1;

  display: inline-block;

  width: 120px;
  height: 120px;
  border-radius: 60px;
  padding: 14px 10px 10px 10px;
  text-align: center;

  box-sizing: border-box;
  border: solid 1px  rgba(250, 250, 250, 0.5);
  /* background-color: #eee; */
}

.date-time-item[disabled],
.date-time-item:disabled {
  cursor: not-allowed;
}

.date-time-item .date {
  display: block;
  text-align: center;
  font-size: 15pt;
  border-bottom: solid 1px rgba(250, 250, 250, 0.5);

  line-height: 45px;
  font-weight: bold;

  color: #fff;
}

.date-time-item .time {
  text-align: center;
  display: block;
  font-size: 15pt;

  line-height: 45px;

  color: #fff;
}

.date-time-item:not([disabled]):hover {
  text-decoration: none;
  background: #111;
  border-color: #111;
  transform: scale(1.02);
}

.date-time-item:not([disabled]):hover .date {
  border-bottom-color: #444;
}
.date-time-item:not([disabled]):hover .date,
.date-time-item:not([disabled]):hover .time {
  color: #fff;
}

/* ---------------------------------------------------------------------------- */
/* Speakers section */

.section.speakers {
  padding-top: 0;
}

/* ---------------------------------------------------------------------------- */

.speaker {
  margin: 2em 0;
}

.speaker:after {
  content: '';
  display: table;
  clear: both;
  zoom: 1;
}


.speaker h3 {
  font-weight: 700;
}

.speaker h3 .title {
  color: #60ab50;
  font-size: 0.75em;
  text-transform: uppercase;
  font-family: montserrat, sans-serif;
  letter-spacing: 1px;
  margin: 0 15px 0 10px;
}

.speaker h3 a {
  color: #333;
}

.speaker h3 i {
  color: #b0b6c0;
  padding: 0 3px;
}

.speaker h3 a:hover {
  color: #333;
  text-decoration: none;
}

.speaker .avatar {
  width: 64px;
  height: 64px;
  border-radius: 35px;

  background: white;

  float: right;

  margin: 0 0 20px 20px;
  background: #eee;
}

.speaker .avatar img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.speaker.anyone h3,
.speaker.anyone .avatar {
   display: none;
}

/* Desktop */
@media (min-width: 768px) {
  .speaker .avatar {
    float: left;
    margin: 0 30px 0 -96px;
    position: relative;
    top: 10px;
  }

  .speaker.anyone h3 {
    display: block;
  }

  .speaker.anyone .avatar {
    display: block;
    opacity: 0.2;
  }
}

/* ---------------------------------------------------------------------------- */

.cta {
  margin: 0;
}

.cta .in {
  text-align: center;
  padding: 2em 0 3em 0;
}

.button {
  margin: 0;
  outline: 0;
  display: inline-block;

  height: 42px;
  line-height: 42px;
  border-radius: 26px;

  border: solid 2px #506070;
  padding: 0 40px;

  text-transform: uppercase;
  font-weight: 400;
  font-size: 12pt;
  font-family: montserrat;

  color: #506070;

  cursor: pointer;
}

.button,
.button:visited {
  background: #506070;
  border-color: #506070;
  color: white;
  text-decoration: none;
}

.button:hover {
  background: #333;
  border-color: #333;
  color: white;
  text-decoration: none;
}

.button:active {
  background: #111;
  border-color: #111;
}

.button:after {
  margin-left: 7px;
  font-size: 1em;
}

.button.disabled:hover,
.button.disabled:visited,
.button.disabled {
  background-color: #eee;
  border-color: #ddd;
  cursor: not-allowed;
  color: #888;
}

.button.disabled:after {
  display: none;
}

.cta .venue {
  margin-top: 1em;
  font-weight: bold;
}

.cta .hint {
  font-size: 0.9em;
}

/* ---------------------------------------------------------------------------- */

.venue-info {
  background: #f9fafb;
}

/* Desktop */
@media (min-width: 768px) {
  .venue-info {
    padding-bottom: 20px;
  }
}

/* ---------------------------------------------------------------------------- */

.content-section {
  border-top: solid 1px #e3e5e7;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Desktop */
@media (min-width: 768px) {
  .content-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.content-section:first-child {
  border-top: 0;
}

.content-section h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
  font-family: montserrat;
  color: #60ab50;
}

.content-section h4 a:visited,
.content-section h4 a {
  color: #404750;
}

.content-section a:visited,
.content-section a {
  color: #a0b0c0;
}

.content-section a:hover {
  color: #506070;
}

.content-section p + p {
  margin-top: 20px;
}

.content-section .icon {
  width: 16px;
  height: 16px;
  padding: 1px;
  border: solid 1px transparent;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;

  position: relative;
  top: -1px;

  margin: 0 3px;
}

.content-section .icon.bordered {
  border-color: #ddd;
  background: transparent;
}

/* -- */

.location {
  margin: 0 0 1em 0;
}

.location:last-child {
  margin-bottom: 0;
}

.location a.map {
  margin-top: 15px;
}

.location h4 {
  font-weight: bold;
  font-size: 1.1em;
}

/* -- */

.venue .location h4 {
  font-size: 1.2em;
  font-weight: bold;
}

.venue .location a.map {
  margin-top: 30px;
}

.venue .location + p {
  margin-top: 1em;
}

/* ---------------------------------------------------------------------------- */

.about-us {
  background: #e5eaf0;

  padding-top: 30px;
  padding-bottom: 30px;

  color: #607080;

  font-size: 0.9em;
  line-height: 1.8;
}

.about-us p {
  margin: 2em 0;
}

.about-us h3 {
  font-family: montserrat, sans-serif;
  font-weight: bold;
  margin: 0;
}

.about-us h3 + p {
  margin-top: 0;
}

.about-us a:visited,
.about-us a {
  color: #506070;
}

.about-us p.actions {
  margin-top: -20px;
}

.about-us .btn:visited,
.about-us .btn {
  border-color: #c0c8d0;
}

/* Desktop */
@media (min-width: 768px) {
  .about-us {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

/* ---------------------------------------------------------------------------- */
/* Inline: button */

.btn,
.btn:visited {
  margin: 0;
  outline: 0;
  display: inline-block;

  height: 24px;
  line-height: 24px;
  border-radius: 14px;

  border: solid 1px #506070;
  padding: 0 20px;

  text-transform: uppercase;
  font-weight: 400;
  font-family: montserrat;
  font-size: 9pt;

  color: #506070;

  cursor: pointer;
}

.btn:hover,
.btn:visited:hover {
  background: #506070;
  border-color: #506070;
  color: white;
  text-decoration: none;
  text-shadow: none;
}

.btn:active {
  background: #111;
  border-color: #111;
}

.btn.sq {
  border-radius: 2px;
  padding: 0 10px;
}

.btn.disabled,
.btn.disabled:visited,
.btn.disabled:hover {
  background: #eee;
  border-color: #ddd;
  cursor: not-allowed;
  color: #888;
}

.btn.disabled:after {
  display: none;
}

/* ---------------------------------------------------------------------------- */
/* Inline: map */

a.map:before {
  margin-right: 10px;
  /* font-size: 28px; */
  vertical-align: middle;
}

/* Icon */
.location .icon {
  display: block;
  float: left;

  width: 60px;

  margin: 0 0 0 -70px;
  vertical-align: top;

  color: #a0b0c0;
}

.location .placeholder:before {
  font-size: 60px;
  opacity: 0.5;
}

.location .logo,
.location .logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.location .logo {
  background: white;
  margin: 0 0 0 -140px;
  border-radius: 50%;
  overflow: hidden;
  padding: 2px;
}

/* Smaller logo */
.location .logo.smaller {
  margin: 0 0 0 -110px;
}

.location .logo.smaller,
.location .logo.smaller img {
  width: 70px;
  height: 70px;
}

.afterparty .placeholder:before {
  font-size: 40px;
}

@media (max-width: 768px) {
  .location .icon {
    float: right;
    margin: 0 0 0 20px;
  }
}
