/*
 * the fancy paragraph
 */

.brief-pullquote {
  & {
    font-family: playfair display, serif;
    font-style: italic;
    font-size: 1.1em;
    text-align: center;
  }

  & .preface {
    font-weight: bold;
    color: #aaa;
    font-family: montserrat, sans-serif;
    letter-spacing: 2px;
    font-size: 0.6em;
    text-transform: uppercase;
    font-style: normal;
    margin-bottom: 0.5em;
  }

  @media (min-width: 768px) {
    & {
      width: 140%;
      margin-left: -20%;
      font-size: 1.3em;
    }
    &.-top {
      margin-bottom: 2em;
    }
    &.-bottom {
      margin-top: 2em;
    }

    &.-top:before,
    &.-top:after,
    &.-bottom:before {
      content: '';
      display: block;
      margin: 40px auto;
      width: 80px;
      height: 1px;
      background: #222;
      opacity: 0.2;
    }
  }
}

