/*
 * big call to action button
 */

.cta-button {
  & {
    margin: 0;
    outline: 0;
    display: inline-block;

    height: 42px;
    line-height: 42px;
    border-radius: 40px;
    border: 0;

    padding: 6px 50px;

    font-size: 12pt;
    @include montserrat-700-caps;

    cursor: pointer;
  }

  &:after {
    @include ion-icon('ios-arrow-right', 16px);
  }

  &,
  &:visited {
    background: $green;
    border-color: $green;
    border-bottom: solid 3px darken($green, 4%);
    color: white;
    text-decoration: none;
  }

  &:hover {
    background: #333;
    border-bottom-color: darken(#333, 4%);
    color: white;
    text-decoration: none;
  }

  &:active {
    background: #111;
    border-bottom-color: darken(#111, 4%);
    color: white;
  }

  &:after {
    margin-left: 13px;
    position: relative;
    top: -1px;
    opacity: 0.75;
  }

  &.-disabled:hover,
  &.-disabled:visited,
  &.-disabled {
    background-color: #eee;
    border-color: #ddd;
    cursor: not-allowed;
    color: #888;
  }

  &.-disabled:after {
    display: none;
  }
}
