.formatted-content {
  h3, h4, p, ul {
    margin: 1.5em 0;
  }

  & {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  @media (min-width: 768px) {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  > h3 {
    font-weight: normal;
    color: $blacker;
    font-size: 1.3em;
  }

  > h3 + p {
    margin-top: -1.5em;
  }

  > hr {
    width: 150px;
    height: 1px;
    display: block;
    margin: 1.5em auto;
    border: 0;
    background: #ddd;

    @media (min-width: 768px) {
      margin: 3em auto;
    }
  }
}

/*
 MOVE THESE LATER
 */

.all {
  .pull-quote-heading {
    font-weight: bold;
    color: #aaa;
    font-family: montserrat, sans-serif;
    letter-spacing: 2px;
    font-size: 0.8em;
    text-transform: uppercase;
    font-style: normal;
    text-align: center;
    margin-bottom: 0;
  }

  .pull-quote {
    font-family: playfair display, serif;
    font-style: italic;
    font-size: 1.1em;
    text-align: center;

    @media (min-width: 768px) {
      width: 140%;
      margin-left: -20%;
      font-size: 1.3em;
    }
  }

  .pull-quote-heading + .pull-quote {
    margin-top: 0.3em;
  }
}
