.all {
.pull-quote-heading {
  @include montserrat-700-caps;
  color: $slate;
  letter-spacing: 2px;
  font-size: 0.75em;
  font-style: normal;
  text-align: center;
  margin-bottom: 0;

  &:after {
    display: none;
  }
}

.pull-quote {
  font-family: $serif;
  font-style: italic;
  font-size: 1.1em;
  text-align: center;

  @media (min-width: 768px) {
    width: 140%;
    margin-left: -20%;
    font-size: 1.2em;
  }
}

.pull-quote-heading + .pull-quote {
  margin-top: 0.3em;
}
}
