/*
 * venue image
 */

.section-panorama {
  & {
    padding: 0;
    margin: 3em auto;
    border: 0;
    background-color: #345;
    margin-left: -35px;
    margin-right: -35px;
  }

  > div {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    opacity: 0.5;
    height: 140px;
  }

  @media (min-width: 769px) {
    & {
      margin: 5em auto;
      width: calc(100vw);
      margin-left: unquote("calc((100vw - #{$page-width}) / 2 * -1)");
    }

    & + .section-panorama {
      margin-top: -5em;
    }

    >div {
      height: 300px;
    }
  }
}
