/*
 * venue image
 */

.section-panorama {
  & {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #345;
  }

  > div {
    height: 300px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    opacity: 0.5;
  }
}
