* { margin: 0; padding: 0; font-size: 1em; }

body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 14pt;
  line-height: 1.5;

  padding-top: 200px;
}

textarea {
  text-align: center;
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  overflow: none;
  resize: none;
  width: 100%;
  height: 1.2em;
}

textarea:focus {
  outline: 0;
}

.timer, .date {
  text-align: center;
}

.timer {
  text-align: center;
  font-size: 2em;
}

.date {
  margin-top: 3em;
  font-size: 0.8em;
}

.t-heading {
  font-family: Lato, sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
}

.t-sub {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #888;
}

.t-stylish {
  font-family: electrolize, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #3a3;
}

.heading-1 {
  font-size: 3em;
}

.heading-2 {
  font-size: 2em;
}

div.hr {
  margin: 3em auto;
  width: 40px;
  height: 1px;
  border-top: solid 1px #888;
}

.message {
  font-size: 10pt;
  border: solid 1px #ddd;
  padding: 40px;
  margin: 0 auto;
  max-width: 300px;

  line-height: 2em;
}

.message ul, .message li {
  list-style-type: none;
}

.message a {
  color: #333;
  font-weight: bold;
  background: #eee;
  padding: 2px 4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  text-decoration: none;
}
