<!DOCTYPE html>
<!--[if lte IE 8]><html class="ie8"><![endif]--><!--[if IE 9]><html class="ie9"><![endif]--><!--[if gt IE 9]><!-->
<html><!--<![endif]-->
<!--

 ___________________________________________________________
 _______ _______ __   _ _____        _______   _____ _______
 |  |  | |_____| | \  |   |   |      |_____|     |   |______
 |  |  | |     | |  \_| __|__ |_____ |     | . __|   ______|
 ___________________________________________________________

   https://github.com/manilajs/manilajs.com
   https://www.facebook.com/groups/javascriptdevelopersph

   Follow us on Twitter!
   http://twitter.com/manila_js
 ___________________________________________________________
                                                            
-->
<head>
  <meta charset="UTF-8">
  <title>Manila.js - JavaScript community in Manila, Philippines</title>

  <!-- CDN assets -->
  <script src='assets/modernizr.js'></script>
  <script>WebFontConfig={google:{families:['Electrolize:400','Lato:300,700','Montserrat:400']}},function(a,b){var c=a.createElement(b);c.src="//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js",c.async=1;var d=a.getElementsByTagName(b)[0];d.parentNode.insertBefore(c,d)}(document,"script")</script>

  <!-- Site assets -->
  <link href="assets/style.css?v=009128" rel="stylesheet" type="text/css">

  <meta content="Next meetup: {{ page.event.date }}, {{ page.event.year }} @ {{ page.event.location }}" name="description">
  <meta content="Next meetup: {{ page.event.date }}, {{ page.event.year }} @ {{ page.event.location }}" property="og:description">
  <meta content="javascript, manila, meetup, manila.js" name="keywords">

  <!-- Meta -->
  <meta content="http://manilajs.com/assets/preview-logo.jpg" property="og:image">
  <meta content="http://manilajs.com/assets/preview-logo.jpg" name="twitter:image">
  <meta content="Manila.js JavaScript community" property="og:title">
  <meta content="Manila.js JavaScript community" property="og:site_name">
  <meta content="Manila.js JavaScript community" name="twitter:title">
  <meta content="website" property="og:type">
  <meta content="http://manilajs.com/" property="og:url">
  <meta content="http://manilajs.com/" name="twitter:url">
  <link href="http://manilajs.com/" rel="canonical">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width; initial-scale=1.0">

  <!-- Analytics -->
  <script>(location.hostname.match(/manilajs.com/))&&(_gaq=[['_setAccount','UA-38979948-1'],['_trackPageview']],(function(a,b){var c=b.createElement(a);c.async=!0,c.src=("https:"==b.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var d=b.getElementsByTagName(a)[0];d.parentNode.insertBefore(c,d)})("script",document))</script>

  <!-- Scripts -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="assets/vendor.js?v=009128"></script>
  <script src="assets/script.js?v=009128"></script>
</head>
<body>

  <!--[if lt IE 8]>
  <div class="unsupported-browser">
    <strong>
      You are using an outdated browser.
    </strong>
    <span>
      Please <a class="upgrade-browser" href="http://browsehappy.com/">upgrade
      your browser</a> to improve your experience.
    </span>
  </div>
  <![endif]-->

  <nav class='top-nav-bg'>
    <div class='logo-box'>
      <div class='logo'>
        Manila.js
      </div>
      &mdash;
      Philippine JavaScript community
    </div>
  </nav>

  <nav class='top-nav'>
    <div class='left'>
    </div>

    {% if page.registration.state == "open" %}
    <div class='right'>
      <span class='hint'>Join the meetup!</span>
      <a href='{{ page.registration.signup }}' class='btn'>Join in</a>
    </div>
    {% endif %}

    {% if page.registration.state == "closed" %}
    <div class='right'>
      <span class='hint'>Check back next month!</span>
      <a href='#' class='btn disabled'>Slots full</a>
    </div>
    {% endif %}

    {% if page.registration.state == "announce" %}
    <div class='right'>
      <span class='hint'>Check back soon!</span>
      <a href='#' class='btn disabled'>Soon to open</a>
    </div>
    {% endif %}

    {% if page.registration.state == "over" %}
    <div class='right'>
      <span class='hint'>Check back soon!</span>
      <a href='#' class='btn disabled'>Event is over</a>
    </div>
    {% endif %}
  </nav>

  <section class='picture-header'>
    <div class='monogram'></div>

    <img src="images/{{ page.cover.image }}" alt="Manila.js" class='wallpaper' />

    <section class='section next-meetup wide'>
      <div class='in'>
        <h5>{{ page.event.location }}</h5>
        <h1>Manila.js Fridays <small>{{ page.event.series }}</small></h1>
        <div class="brief">
          <p>
            Join us for an evening of JavaScript talks, networking, and
            camaraderie.  Beginners and experts welcome!
          </p>
        </div>
      </div>
    </section>

    <section class='section date-time wide'>
      <div class='in'>
        {% if page.registration.state == "open" %}
          <a class='date-time-item' href="{{ page.registration.signup }}">
            <strong class='date'>{{ page.event.date }}</strong>
            <span class='time'>{{ page.event.time }}</span>
          </a>
        {% else %}
          <a class='date-time-item' href="#">
            <strong class='date' data-content='event_date'>{{ page.event.date }}</strong>
            <span class='time' data-content='event_time'>{{ page.event.time }}</span>
          </a>
        {% endif %}
      </div>
    </section>

  </section>

  <section class='section speakers'>
    <div class='in'>
      {% if page.opening %}
      <div class="closing">
        {{ page.opening }}
      </div>
      {% endif %}

      <div class="speaker-list">
        {% for speaker in page.speakers %}
          <article class="speaker">
            <div class="avatar">
              <img src="images/{{ speaker.avatar }}" alt="{{ speaker.name }}" />
            </div>
            <h3>
              {% if speaker.url %}
                <a href="{{ speaker.url }}">{{ speaker.name }}</a>
              {% else %}
                {{ speaker.name }}
              {% endif %}

              {% if speaker.title %}
              <em class='title'>{{ speaker.title }}</em>
              {% endif %}

              {% if speaker.github %}
                <a href='https://github.com/{{ speaker.github }}'>
                  <i class='github'></i>
                </a>
              {% endif %}

              {% if speaker.twitter %}
                <a href='https://twitter.com/{{ speaker.twitter }}'>
                  <i class='twitter'></i>
                </a>
              {% endif %}
            </h3>

            <p>{{ speaker.description }}</p>
          </article>
        {% endfor %}
        
        <article class="speaker anyone">
          <div class="avatar"></div>
          <h3>Open for speakers!</h3>
          <p>
            The floor is open to anyone who has something interesting to share.
            Interested in being a speaker?
          <a
            href='mailto:hi@ricostacruz.com'>Contact us</a>
            and let us know!
          </p>
        </article>
      </div>

      <div class="closing">
        <p>
        Manila.js Fridays happens every first Friday of the month.
        Everybody's welcome!
        Expect learning, fun, and happy conversations from people just like you.
        This event is free. Bring your friends!
        </p>
      </div>
    </div>
  </section>

  <section class='section cta'>
    <div class='in'>
      {% if page.registration.state == "open" %}
      <a class='button big' href='{{ page.registration.signup }}'>I'm attending!</a>
      {% endif %}
      {% if page.registration.state == "closed" %}
      <a class='button big disabled' href="#">Sold out!</a>
      {% endif %}
      {% if page.registration.state == "announce" %}
      <a class='button big disabled' href="#">Soon to open</a>
      {% endif %}
      {% if page.registration.state == "over" %}
      <a class='button big disabled' href="#">All done</a>
      {% endif %}

      <p class='venue'>
      <span>{{ page.event.date }}</span>, Friday &nbsp;&middot;&nbsp; <span>{{ page.event.time }}</span> onwards
      </p>

      {% if page.registration.state == "open" %}
      <p class='hint'>
        It's free! Reserve your seat now. Slots are limited, so hurry!
      </p>
      {% endif %}
      {% if page.registration.state == "closed" %}
      <p class='hint'>
        Slots are now full. Be sure to register early next month!
      </p>
      {% endif %}
      {% if page.registration.state == "announce" %}
      <p class='hint'>
        Registration will open on {{ page.registration.date }}. Slots are limited!
      </p>
      {% endif %}
      {% if page.registration.state == "over" %}
      <p class='hint'>
        Event is over! Watch the Facebook group for updates on the next event.
      </p>
      {% endif %}

    </div>
  </section>

  <section class='venue-info'>

    <section class='section content-section venue'>
      <div class="in">
        <h3>Our venue is</h3>
        <div class='location'>
          {% if page.venue.icon %}
            <div class='icon logo'><img src='images/{{ page.venue.icon }}' alt='{{ page.venue.name }}'></div>
          {% else %}
            <div class='icon placeholder'></div>
          {% endif %}
          <h4>
            <a href='{{ page.venue.url }}'>{{ page.venue.name }}</a>
          </h4>
          <p>{{ page.venue.address }}</p>
          <a href='{{ page.venue.map }}' class='map' target='_blank'>View map</a>
        </div>
        <p>
          Special thanks to our gracious host for hosting this month's meetup!
          {{ page.venue.description }}
        </p>
      </div>
    </section>

    <section class='section content-section afterparty'>
      <div class="in">
        <h3>After-drinkup</h3>
        <div class='location afterparty'>
          {% if page.drinkup.icon %}
            <div class='icon logo smaller'><img src='images/{{ page.drinkup.icon }}' alt='{{ page.drinkup.name }}'></div>
          {% else %}
            <div class='icon placeholder'></div>
          {% endif %}
          <h4>{{ page.drinkup.name }}</h4>
          <p>{{ page.drinkup.location }}</p>
          <a href='{{ page.drinkup.map }}' class='map' target='_blank'>View map</a>
        </div>
        <p>Join us for drinks at {{ page.drinkup.name }}
        after the event! {{ page.drinkup.name }} is located
        at {{ page.drinkup.location }}, just a few paces away from the venue
        and serves {{ page.drinkup.serves }}.</p>
      </div>
    </section>

    <section class='section content-section contact'>
      <div class="in">
        <h3>Contact info</h3>
        <p>
          Need directions or any help? Interested in speaking or sponsorship? Contact
          Rico at <a href='mailto:hi@ricostacruz.com'>hi@ricostacruz.com</a> or <b>0908 864 8125</b>.
        </p>
      </div>
    </section>

    <section class='section content-section contact'>
      <div class="in">
        <h3>Thanks!</h3>
        <p>
        Manila.js is made possible by <a href='http://nadarei.co' class='nobr'>
          <img src='images/nadarei-small.png' alt='(Logo)' class='icon trans' /> Nadarei, Inc.</a>
        and <a href='http://proudcloud.net'><img src='images/proudcloud.png'
          class='icon trans' alt='(Logo)' /> Proudcloud</a>, whose teams have been organizing and
        volunteering to make Manila.js events possible.
        </p>
        <!-- <p>Food for the last meetup has been generously provided by the fine -->
        <!-- folks of ...</p> -->
      </div>
    </section>


  </section>

  <section class='section about-us'>
    <div class="in">
      <h3>Mabuhay!</h3>

      <p>
      Manila.js is the JavaScript community in Metro Manila, Philippines. Born
      on February 2013, we organize monthly meetups for JavaScript amateurs and
      professionals alike. We also have a <a href='https://www.facebook.com/groups/javascriptdevelopersph/'>Facebook group</a>
      where anyone can discuss and share anything about JavaScript.
      </p>

      <h3>Join the group!</h3>
      <p>
        The group is open to all JavaScript enthusiasts.
      </p>
      <p class='actions'>
        <a href='https://www.facebook.com/groups/javascriptdevelopersph/' class='btn sq facebook'>Join us!</a>
      </p>

      <h3>Contact</h3>
      <p>
      For any concerns and inquiries, contact Rico Sta. Cruz at <a
        href='mailto:hi@ricostacruz.com'>hi@ricostacruz.com</a> <span class='nobr'>or <b>+63 908 864
          8125</b>.</span>
      </p>

    </div>
  </section>

</body>
</html>
