.formatted-content {
  h1, h2, h3, h4, p, ul {
    margin: 1.5em 0;
  }

  > blockquote {
    background: mix(#fafafa, $green, 98%);
    border-bottom: solid 1px #eaeaea;
    line-height: 1.55;
    font-size: 0.9em;
    padding: 1px 30px;
    border-radius: 4px;
    margin-left: -30px;
    margin-right: -30px;

    @media (max-width: 768px) {
      font-size: 1em;
      border-radius: 0;
      padding: 1px 15px;
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  & {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  @media (min-width: 768px) {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  strong, b {
    font-weight: bold;
    color: $blacker;
  }

  ul, ol {
    margin-left: 1.5em;
  }

  ul li {
    list-style: disc;
  }

  > h1,
  > h2 {
    @include opensans-300;
    color: $blacker;
    font-size: 1.6em;
  }

  > h1 {
    font-size: 2em;
    color: $green;
    border-bottom: solid 1px #f0f0f0;
    padding-bottom: 15px;
    margin-bottom: 0;
  }

  > h3 {
    font-weight: 700;
    color: $blacker;
    font-size: 1.2em;
  }

  > h2 + p,
  > h3 + p {
    margin-top: -1.5em;
  }

  > h4 {
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    @include montserrat-700-caps;
    color: $green;

    @media (min-width: 769px) {
      margin-top: 3.5em;
    }

    + p {
      margin-top: -0.5em;
    }
  }

  > h4:after {
    display: block;
    content: '';
    width: 40px;
    height: 2px;
    background: #ddd;
    margin: 10px 0;
    border-radius: 2px;
  }

  > hr {
    width: 150px;
    height: 1px;
    display: block;
    margin: 1.5em auto;
    border: 0;
    background: #ddd;

    @media (min-width: 768px) {
      margin: 3em auto;
    }
  }
}
